<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.access.denied}"/></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/signin.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/header.html :: header"></div>

    <div class="container">
        <div class="alert alert-danger lead">
            <span th:text="#{text.dear}"/>
            <strong><span th:text="${userFirstName}"/></strong>
            <span th:text="#{text.not.authorized}"/><br>
            <a th:href="@{/logout}"><span th:text="#{link.logout}"/></a>
        </div>
    </div>
    <br><br>

    <div th:replace="fragments/footer.html :: footer"></div>
</div>
</body>
</html>