<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.buy.good}"/></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/signin.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/header.html :: header"></div>

    <div class="container">
        <div class="row">
            <div th:if="${errorNotEnoughGood != null}" class="alert alert-danger">
                <span th:text="${errorNotEnoughGood}"/>
            </div>
        </div>
        <div class="row">
            <div class="well">
                <form action="#" th:action="${#httpServletRequest.requestURI}" method="POST" class="form-inline">
                    <div class="row">
                        <div class="col-md-4">
                            <h2><b><span th:text="${good.name}"/></b></h2>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <img th:src="@{/goods/imageController/{goodId}(goodId=${good.id})}"
                                 class="img-responsive" style="width:100%" th:alt="${good.name}">
                        </div>
                        <div class="col-md-8">
                            <div class="form-group col-md-12">
                                <label for="orderedQuantity" class="control-label col-md-2">
                                    <span th:text="#{label.quantity}"/>
                                </label>
                                <input type="number" min="1" value="1" autofocus="autofocus"
                                       name="orderedQuantity" id="orderedQuantity" required="required"
                                       class="form-control input-sm"/>
                                <div class="has-error ">
                                    <span th:errors="${good.quantity}" class="help-inline"/>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-2"><span th:text="#{label.price}"/></label>
                                <span class="form-control-static" th:text="${good.price}"/></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label col-md-12"><span th:text="#{label.description}"/></label>
                                <p class="form-control-static col-md-12"><span th:text="${good.description}"/></p>
                                <br>
                            </div>
                            <br>
                            <div class="form-group col-md-12">
                                <div class="form-actions floatRight col-md-12">
                                    <input type="submit" th:value="#{button.buy}" class="btn btn-success"/>
                                    <span th:text="#{text.or}"/>
                                    <a th:href="@{/goods/list}"><span th:text="#{link.cancel}"/></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br/>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer.html :: footer"></div>
</div>
</body>
</html>
